<template>
  <v-container>
    <v-row justify="center">
      <v-btn to="/orders" color="success">
        Go to Order List
      </v-btn>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Home"
}
</script>
