<template>
  <v-container>
    <v-card>
      <v-card-title>
        <div>
          Orders
          <v-row align="center" class="ml-1">
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="params.dates"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dates"
                  label="Date Filter"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="params.dates" range>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.menu.save(params.dates)"
                >
                  OK
                </v-btn>
              </v-date-picker>
            </v-menu>
            <v-btn text @click="params.dates = []">
              <v-icon left>mdi-close</v-icon>
              Clear
            </v-btn>
          </v-row>
        </div>

        <v-spacer />
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        />
      </v-card-title>

      <v-card-text>
        Total Amount: <b>${{ summary.totalAmount.toFixed(2) }}</b>
      </v-card-text>
      <v-data-table
        :headers="headers"
        :items="orders"
        :items-per-page.sync="params.itemsPerPage"
        :page.sync="params.page"
        :server-items-length="summary.totalCount"
        :loading="loading"
      />
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue"
import ky from "ky"
import debounce from "lodash/debounce"
import { parseISO, formatISO } from "date-fns"
import { parseFromTimeZone, formatToTimeZone } from "date-fns-timezone"
import { OrderResponse, Order } from "@/models/order"

const timeZone = "Australia/Melbourne"

const processOrder = (order: Order) => ({
  ...order,
  createdAt: formatToTimeZone(
    parseISO(order.createdAt),
    "MMM Do YYYY, h:mm A",
    {
      timeZone
    }
  ),
  totalAmountStr: `$${order.totalAmount.toFixed(2)}`,
  deliveredAmountStr: order.deliveredAmount
    ? `$${order.deliveredAmount.toFixed(2)}`
    : "-"
})

export default Vue.extend({
  data: () => ({
    search: "",
    headers: [
      {
        text: "Order Name",
        value: "orderName"
      },
      {
        text: "Customer Company",
        value: "customer.company.name"
      },
      {
        text: "Customer Name",
        value: "customer.name"
      },
      {
        text: "Order Date",
        value: "createdAt"
      },
      {
        text: "Delivered Amount",
        value: "deliveredAmountStr"
      },
      {
        text: "Total Amount",
        value: "totalAmountStr"
      }
    ],
    orders: [] as Order[],
    totalOrders: 0,
    params: {
      dates: [],
      itemsPerPage: 5,
      page: 1
    },
    loading: false,
    menu: false,
    summary: {
      totalAmount: 0,
      totalCount: 0
    }
  }),

  mounted() {
    this.fetchOrders()
  },

  computed: {
    dates(): string {
      return this.params.dates.join(" - ")
    }
  },

  methods: {
    async fetchOrders() {
      this.loading = true

      const searchParams = {
        keyword: this.search,
        limit: this.params.itemsPerPage,
        skip: (this.params.page - 1) * this.params.itemsPerPage,
        date_from: "",
        date_to: ""
      }
      if (this.params.dates[0]) {
        searchParams.date_from = formatISO(
          parseFromTimeZone(this.params.dates[0], { timeZone })
        )
      }
      if (this.params.dates[1]) {
        searchParams.date_to = formatISO(
          parseFromTimeZone(this.params.dates[1], { timeZone })
        )
      }

      const response = await ky
        .get("/api/v1/orders", {
          searchParams
        })
        .json<OrderResponse>()
      this.orders = response.orders?.map(processOrder) || []
      this.summary = response.summary
      this.loading = false
    },

    handleSearch: debounce(function(this: any) {
      this.params.page = 1
      this.fetchOrders()
    }, 500)
  },

  watch: {
    params: {
      deep: true,
      handler() {
        this.fetchOrders()
      }
    },

    search() {
      this.handleSearch()
    }
  }
})
</script>
